
// @import "var";
@import "common/mixin";
@import "common/var";

// Include lib slick
@import "lib/slick/slick";
@import "lib/slick/slick-theme";
@import "lib/slick/custom";

// Include component
@import "component/banner";
@import "component/product";
@import "component/news";
@import "component/module_scroll_mask";
// @import "lib/nouislider/custom";

// Include module
.sec_product {
	padding-bottom: 40px;
	.banner {
		.imgDrop {
			min-height: 134px;
			padding-top: 134/375*100%
		}
	}
	.product_main {
		z-index: 9;
		margin: -97px 4px 0;
		@include min_320 {
			margin: -97px 16px 0;
		}
		&.scroll_fixed {
			margin: 0;
			position: fixed;
			top: 45px;
			left: 0;
			right: 0;
			z-index: 9999;
			transform: translateY(-100%);
			transition: all .3s;
			.module_scroll {
			  &:not(.module_scroll_mask) {
			    padding: 8px 24px;
			  }
  			.scroll_inner {
  				.wrap {gap: 24px;}
  				.scroll_item {
  					.text {
  						display: none;
  					}
  				}
  			}
			}
			&.fadeIn {
				transform: translateY(0);
			}
		}
		&:not(.scroll_fixed) {
			.module_scroll {
				padding: 12px 8px;
  			.wrap {
  				flex-wrap: wrap;
  				justify-content: flex-start;
  				gap: 8px 9px;
    			.scroll_item {
    				// max-width: 75px;
    				font-size: 12px;
    				line-height: 18px;
    				color: $text_900;
    				width: calc((100% - 9px * 3)/4);
    			}
  			}
  			&_mask {
  			 &::before {display: none;}
  			 .wrap {
  				&::after{display: none;}
  			 }
  			}
			}
		}
	}
}
section.sec_module {
	padding-bottom: 40px;
	.heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.content_main {
		margin-top: 16px;
	}
	.insu_list {
		.insu_item {
			width: calc((100% - 16px * 2)/3);
			text-align: center;
			background: #FBF8FF;
		}
	}
	.news_slider {
		.slick-dots {
			position: static;
			margin-top: 12px;
		}
	}
}
