// @import "var";
@import "common/mixin";
@import "common/var";

// Include lib slick
@import "lib/slick/slick";
@import "lib/slick/slick-theme";
@import "lib/slick/custom";

// Include component
@import "component/banner";
@import "component/product";

// @import "component/news";
// @import "component/module_scroll_mask";
// @import "lib/nouislider/custom";
.sec_profile {
  background-color: $ana_20;
  min-height: calc(100vh - 45px - 68px);

  .product_slider {
    height: 127px;
  }
}

.module_payment {
  .payment {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 24px 24px 24px 16px;

    @include min_320 {
      padding: 24px 40px 24px 16px;
    }

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      right: 8px;
      background-image: url(../images/icon/icon_right_w.svg);

      @include min_320 {
        right: 16px;
      }
    }

    &_zalopay {
      color: #fff;
      background: linear-gradient(89.73deg, #0061EE 2.32%, #4490FF 97.71%);
      border: 1px solid #4591FF;
    }

    .icon {
      flex-shrink: 0;
      margin-right: 8px;
    }
  }
}

.sec_booking {

  min-height: calc(100vh - 45px - 68px);
  // background-image: url(../images/bg_gold.png);

  .con {
    position: relative;
    height: 100%;
    // min-height: 100vh;
  }

  .oa-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }

  .info-zone {
    background-color: #ffffff;
    position: relative;
    top: 107px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-height: calc(100vh - 45px - 68px - 107px);
    padding: 44px 30px;
    padding-bottom: 80px;
    button {
      // position: absolute;
      // bottom: 30px;
      margin-bottom: 20px;
    }
    h1 {
      color: #09051C;
      font-size: 27px;
      font-style: normal;
      font-weight: 400;
      line-height: 131.023%;
      /* 35.376px */
    }

    .oa-info {
     
      p {
        color: #909090;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 180.523%;
        margin-top: 8px;
      }
    }

    .vouchers {
      h2 {
        color: #09051C;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 131.023%;
        /* 19.653px */
        margin: 29px 0 20px;
      }

      .detail {
        display: flex !important;
        border-radius: 22px;
        background: #FFF;
        border: 1px solid #E5E5E5;
        padding: 12px;
        img {
          margin-right: 20px;
        }

        h3 {
          color: #14B661;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 131.023%;
          /* 19.653px */
          margin-bottom: 8px;
          height: 19.6px;

        }

        p {
          color: #3B3B3B;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.5px;
        }
      }
    }

    .group-form{
      margin-top: 30px;
      h1{
        font-size: 18px;
        margin-bottom: 8px;
      }
    }
  }
}