.container-search-input {
  position: relative;

  input {
    display: block;
    border-radius: 4px;
    width: 100%;
    padding: 5.5px 12px 5.5px 40px;
    border: 1px solid #d2d0d9;
    background: #ffffff;
    height: 32px;
    min-height: 32px !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #343436;
    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.close {
      right: 8px;
    }

    &.search {
      left: 12px;
    }
  }
}
