.scrollbar {
  overflow-x: hidden;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
	    width: 4px;
	}
	&::-webkit-scrollbar-track {
	    background: #FBF8FF;
	    border-radius: 3px;
	}
	
	&::-webkit-scrollbar-thumb {
	    border-radius:3px;
	    background: #B99AED;
	}
	&.mxh{
	  &-160 {height: 160px;}
	}
}
