//neutral
$color-main: #3366FF; //blue_500
$color-sub: #FDF6FF; //ana_20
$primary: #6124D5; //promary_600

// red
$red: #FF4B38;
$second_100: #FFD1D4;
$second_50: #FFECEF;

// green
$green:#66D25D;

// blue
$blue_400: #6690FF;
$blue_300: #84A9FF;
$blue_200: #ADC8FF;
$blue_100: #D6E4FF;
$blue_50: #F5F8FF;

$primary_400: #854EE1;
$primary_600: #6124D5;
$primary_800 :#4113C6;

// text
$text_100:#F8F8F8;
$text_200:#F2F2F2;
$text_300:#EDEDED;
$text_400:#ccc;
$text_500:#AEAEAE;
$text_700:#6F6F6F;
$text_900:#2D2D2D;

// gray
$gray_500: #AEAEAE;
$gray_900: #2D2D2D;

//ana
$ana_2900:#1A0A60;
$ana_2700:#2F2781;
$ana_2500:#3C3895;
$ana_2400:#5755A4;
$ana_2300:#7272B3;
$ana_2200:#9999C9;
$ana_2100:#C1C1DF;
$ana_500:#9913C6;
$ana_400:#A93FCF;
$ana_300:#B863D8;
$ana_200:#CD90E3;
$ana_100:#CD90E3;
$ana_50:#F3E4F8;
$ana_20:#FDF6FF;
$ana_250:#E6E6F2;
